.moditeRow {
  display: flex;
  flex-direction: column-reverse;
  padding: 3px 0;
}

div[class="List"] {
  transition: opacity 250ms;
}

.NoLink {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
