.moditeCt {
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  left: 12px;
  right: 12px;
  border-radius: 20px 20px 0 0;
  transform: translateY(calc(100% + 90px));
  transition: transform 250ms;
  overflow: visible;
  text-align: center;
  box-shadow: 0px 16px 48px 0px rgba(0, 0, 0, .50);
  height: 60vh;
}

.moditeCt>img {
  border-radius: 20px;
  box-shadow: 0px 33px 18px -18px rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -5%);
  opacity: 0;
  transition: transform 250ms, opacity 250ms;
  width: 192px;
  height: 192px;
  max-width: 40vw;
  max-height: 40vw;
}

.activeModiteShown {
  transition-delay: 250ms;
  transform: translateY(40vh);
}

.activeModiteShown>img {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition-delay: 400ms;
}

.isModite {
  padding: 124px 20px 20px 20px;
}

.isProject {
  padding: 50px 0 0 0;
}

.moditeDetails {
  opacity: 0;
}

.moditeDetailsShown {
  opacity: 1;
}

.projectDetails {
  opacity: 0;
  height: 100%;
}

.projectDetailsShown {
  opacity: 1;
}

.name {
  font-weight: bold;
  font-size: 22px;
}

.location {
  font-size: 15px;
  opacity: .5;
  margin-top: 12px;
}

.todWrap {
  font-size: 15px;
  opacity: .5;
  margin-top: 8px;
}

.todWrap span {
  font-size: 23px;
  margin-right: 12px;
  vertical-align: middle;
}

.fieldTitle {
  margin-top: 12px;
}

.gitUser {
  margin-top: 2px;
}

.gitUser a {
  color: var(--ion-color-modus-salmon);
}

.gitUser ion-icon {
  margin-right: 5px;
}

.title {
  margin-top: 12px;
}

.userCount {
  font-size: 15px;
  opacity: .5;
  margin: 18px 0;
}

.tacos {
  padding: 4px 8px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: 2px solid #DCAF39;
  border-radius: 10px;
  font-size: 15px;
}

.taco {
  margin-right: 8px;
}
