@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown20 {
  from {
    transform: translate3d(0, -5%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  transform: translate3d(0, -100%, 0);
  animation-name: slideInDown;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
  font-size: inherit;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
}

.searchbarCt {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.searchbarWrap {
  position: relative;
  top: 0;
  transform: translateY(calc(40vh / 2 - 21px));
  transition: transform 350ms;
  display: flex;
  flex-direction: row;
  z-index: 2;
}
.searchbarWrapCollapsed {
  transform: translateY(0px);
}
.searchbarWrapHidden {
  transform: translateY(-200%);
}

.searchbar {
  padding: 12px;
}
.searchbar input {
  border-radius: 10px !important;
  box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.5) !important;
}
.searchbar:global(.searchbar-has-value .searchbar-clear-button) {
  display: block !important;
}

.moditeListCt {
  display: flex;
}

.moditeListWrap {
  flex: 1;
}

.moditeListSpacer {
  height: 65px;
  transition: height 200ms;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.moditeListSpacerExpanded {
  height: 40vh;
}

.mapWindow {
  height: 62px;
  transition: height 250ms;
}
.mapWindowCollapsed {
  height: 0;
}

.globalBarWrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 66px;
  align-items: center;
  text-align: center;
  padding: 0 12px;
  background: linear-gradient(to bottom, rgba(255,255,255,1) 79%,rgba(255,255,255,0) 100%);
  transition: transform 350ms;
}
.globalBarWrapHidden {
  transform: translateY(-150%);
}

.globalSpacer {
  width: 40px;
}
.searchbarSpacer {
  width: 0;
  transition: width 0ms;
  transition-delay: 50ms;
}
.searchbarSpacerCollapsed {
  width: 40px;
}

.globeTitle {
  flex: 1;
  letter-spacing: 4px;
  font-weight: bold;
  color: var(--ion-color-modus-charcoal);
}

.globeButton {
  color: var(--ion-color-modus-salmon);
  font-size: 25px;
  padding: 4px;
  margin-left: 7px;
}

.tabCt {
  display: flex;
  flex-direction: row;
  height: 52px;
  transition: all 250ms;
  background-color: rgba(248, 248, 248, 1);
  font-weight: bold;
  font-size: 12px;
  z-index: 1;
}
.tabCt a {
  flex: 1;
  text-align: center;
  padding: 8px 0;
}
.tabCt ion-icon {
  display: block;
  margin: 0 auto;
  font-size: 24px;
}
.tabCtHidden {
  transform: translateY(100%)
}

.listTypeTab {
  color: #8e8e93;
}
.listTypeTabSelected {
  color: var(--ion-color-modus-salmon);
}

.backButton {
  position: absolute;
  top: 20px;
  left: 0px;
}

.detailsView > .moditeListWrap > div > div[class="List"] {
  opacity: 0;
}

.detailsView ~ div[class*="MapCt"] div[class*="MapEl"] {
  top: -9vh;
}

.detailsView a[class*="ListRow"] > div {
  margin: 0;
  border-radius: 0;
  height: 60px;
  box-shadow: none;
  position: relative;
}
.detailsView a[class*="ListRow"] > div > div:first-child {
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.25);
}
.detailsView a[class*="ListRow"] > div:after {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 1px;
  background: var(--ion-color-modus-charcoal);
  opacity: .1;
}
