@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown20 {
  from {
    transform: translate3d(0, -5%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes appear {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes clearAppear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slideInDown {
  transform: translate3d(0, -100%, 0);
  animation-name: slideInDown;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
}

.appear {
  animation-name: appear;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.1, 0.1, 1, 1);
}

.clearAppear {
  opacity: 0;
  animation-name: clearAppear;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.1, 0.1, 1, 1);
  animation-delay: 150ms;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
  border-radius: 0.8rem;
}

.time {
  flex: 0 1 4.5rem;
  opacity: 0.5;
}

.tod {
  flex: 0 1 1.8rem;
}

.worldMapButton {
  color: var(--ion-color-modus-charcoal);
}
