@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown20 {
  from {
    transform: translate3d(0, -5%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  transform: translate3d(0, -100%, 0);
  animation-name: slideInDown;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 500ms;
  font-size: inherit;
}

.thumbnailContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail {
  width: 3rem;
  height: 3rem;
}

.worldMapButton {
  color: var(--ion-color-modus-charcoal);
}
