.detailsCt {
  position: relative;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1b1b1b;
  line-height: 1.5rem;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 2rem;
  color: #1b1b1b;
}

.imageCt {
  padding: 30px 0;
  background-color: #f7f7f7;
  width: 100%;
  margin-bottom: 12px;
}

.imageWrap {
  display: inline-block;
  position: relative;
}

.detailsCt img {
  height: 192px;
  width: 192px;
  border-radius: 50px 0;
  border: 6px solid white;
}

.tacosBadge {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: var(--ion-color-modus-charcoal);
  padding: 6px 12px;
}

.detailsWrap {
  padding: 0 20px;
}

.detailsTitle {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 3rem;
}

.detailsMapCt {
  flex: 1;
  display: flex;
  position: relative;
}
