.detailsCt {
  position: relative;
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.closeIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 2rem;
}

.detailsCt .img {
  height: 192px;
  width: 192px;
}

.detailsMapCt {
  flex: 1;
  display: flex;
}
